<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: page('Items', ~{::main})}">
<body>
<main>
  <p class="petstore_title">Products for this Category</p>
  <table class="petstore_listing">
    <tr th:each="p : ${page.contents()}">
      <td><a th:href="@{/catalog/products/{id}(id=${p.id()})}" th:text="${p.name()}">name</a></td>
      <td th:text="${p.description()}">description</td>
    </tr>
  </table>
  <a th:if="${page.previousPageAvailable()}"
     th:href="@{/catalog/categories/{id}(id=${category.id()},start=${page.startOfPreviousPage()},count=${count})}">Previous</a>
  <a th:if="${page.hasNext()}"
     th:href="@{/catalog/categories/{id}(id=${category.id()},start=${page.startOfNextPage()},count=${count})}">Next</a>
</main>
</body>
</html>